<h3>Coach Lookup</h3>
<% person = Person.new %> 

<%= form_tag(people_search_path, method: :get, id: "person-search-form", class: "form-inline" ) do %>
    <%= text_field_tag :first_name, nil, autocomplete: "off", class: "input-medium", placeholder: "First Name" %>
    <%= text_field_tag :last_name, nil, autocomplete: "off", class: "input-medium", placeholder: "Last Name" %>
<% end %>
<div id="person-search-results"></div>
